/* --- База + переменные --- */

/* --- Библиотека --- */

:root {
  --white: #fff;
  --white-50: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --dark-50: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

/* --- Шрифты --- */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

/* --- База --- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* --- Отступы --- */

/* Марджины */

.mb-20 {
  margin-bottom: 20px;
}

/* --- Текст --- */

/* Заголовки */

.heading {
  font-weight: 400;
}

/* Цвет */

.text-primary {
  color: var(--primary);
}

/* --- Колонки --- */

/* Две колонки */

.text-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.text-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* --- Адаптив --- */

/* 1920+ */

/* 1440 */

/* 1024 */

/* 768 */

/* 425 */

@media (max-width: 425px) {
  h1 {
    font-size: 48px;
  }
}

/* 375 */

@media (max-width: 425px) {
  h1 {
    font-size: 40px;
  }

  .text-cols {
    grid-template-columns: repeat(1, 1fr);
    gap: 2px;
  }
}
