/* ------ База + переменные ------ */

/* ------ Библиотека ------ */

:root {
  --white: #fff;
  --white-50: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --dark-50: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --first-family: "Open Sans", sans-serif;
  --second-family: "Neucha", cursive;
}

/* ------ Шрифты ------ */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

a {
  text-decoration: none;
  color: var(--primary);
}

/* ------ База ------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* ------ Отступы ------ */

/* Марджины */

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-32 {
  margin-bottom: 32px;
}

/* ------ Текст ------ */

/* Цвет текста */

.text-primary {
  color: var(--primary);
}

.text-white {
  color: var(--white);
}

.text-dark {
  color: var(--dark);
}

/* Размер текста */

.text-lg {
  font-size: 18px;
}

.text-sm {
  font-size: 14px;
}

.text-xs {
  font-size: 12px;
  line-height: 120%;
}

/* Выравнивание текста */

.text-center {
  text-align: center;
}

/* Заголовки */

.heading {
  font-weight: 400;
}

.heading-big {
  font-size: 52px;
}

/* ------ Колонки ------ */

.cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ------ Гриды ------ */

.grid {
  display: grid;
  gap: 30px;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* ------ Адаптив ------ */

/* 1920+ */

/* 1440 */

/* 1024 */

@media (max-width: 1024px) {
  .heading-big {
    font-size: 40px;
  }

  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 768 */

@media (max-width: 768px) {
  h3 {
    font-size: 28px;
  }

  .heading-big {
    font-size: 32px;
  }

  .grid-3 {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* 425 */

@media (max-width: 425px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  .mb-28 {
    margin-bottom: 20px;
  }

  .cols {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .col {
    gap: 12px;
  }
}

/* 375 */

@media (max-width: 425px) {
  h1 {
    font-size: 40px;
  }

  .text-cols {
    grid-template-columns: repeat(1, 1fr);
    gap: 2px;
  }
}
